%form{method: "POST", action: "/download"}
  -#.alert
    -#%button.close{"data-dismiss" => "alert", :type => "button"} ×
    -#%b Warning!
    -#You best check yourself, you're not looking so good.
  %h1 Source
  .control-group
    .controls
      %label.radio{:for => "home_timeline"}
        %input#home_timeline{:name => "source", :type => "radio", :value => "home_timeline", :checked => "checked"}/
        My Home Timeline
      %label.radio{:for => "mentions"}
        %input#mentions{:name => "source", :type => "radio", :value => "mentions"}/
        Mentinons
      %label.radio{:for => "direct_messages"}
        %input#direct_messages{:name => "source", :type => "radio", :value => "direct_messages"}/
        Direct Messages
  %h1 Content
  .control-group
    .controls
      = BeardedTyrion::Content.available_option.each do |options|
        %label.checkbox{:for => "#{BeardedTyrion::Content.form_field_name}_#{options.name}"}
          %input#content_id{:name => "#{BeardedTyrion::Content.form_field_name}[]", :type => "checkbox", :value => "#{options.name}", :checked => "checked"}/
            = options.description

  %h1 Format
  .control-group
    .controls
      %label.radio{:for => "format_plain_text"}
        %input#format_plain_text{:name => "format", :type => "radio", :value => "plain_text", :checked => "checked"}/
        Plain text

  %input.btn.btn-success.btn-large{type: :submit, value: "Download"}
