%form{method: "POST", action: "/download"}
  -#.alert
    -#%button.close{"data-dismiss" => "alert", :type => "button"} ×
    -#%b Warning!
    -#You best check yourself, you're not looking so good.
  %h1 Source
  .control-group
    .controls
      - source.available_options.each do |option|
        %label.radio{:for => "#{source.form_field_name}_#{option}"}
          %input{:id => "#{source.form_field_name}_#{option}", :name => "#{source.form_field_name}[]", :type => "radio", :value => option.to_s}
            = option.to_s.humanize

  %h1 Content
  .control-group
    .controls
      - content.available_options.each do |option|
        %label.checkbox{:for => "#{content.form_field_name}_#{option}"}
          %input{:id => "#{content.form_field_name}_#{option}", :name => "#{content.form_field_name}[]", :type => "checkbox", :value => option.to_s, :checked => "checked"}
            = option.to_s.humanize

  %h1 Format
  .control-group
    .controls
      - format.available_options.each do |option|
        %label.radio{:for => "#{format.form_field_name}_#{option}"}
          %input{:id => "#{format.form_field_name}_#{option}", :name => "#{format.form_field_name}[]", :type => "radio", :value => option.to_s}
            = option.to_s.humanize

  %input.btn.btn-success.btn-large{type: :submit, value: "Download"}
